<p class="prose">
These tables show all phenotypes for each flower, and all possible genes that
produce each phenotype.
</p>

<details>
  <summary><h3>Cosmos</h3></summary>

  {{ 'cosmo' | phenotypes() }}
</details>

<details>
  <summary><h3>Hyacinths</h3></summary>

  {{ 'hyacinth' | phenotypes() }}
</details>

<details>
  <summary><h3>Lilies</h3></summary>

  {{ 'lily' | phenotypes() }}
</details>

<details>
  <summary><h3>Mums</h3></summary>

  {{ 'mum' | phenotypes() }}
</details>

<details>
  <summary><h3>Pansies</h3></summary>

  {{ 'pansy' | phenotypes() }}
</details>

<details>
  <summary><h3>Roses</h3></summary>

  {{ 'rose' | phenotypes() }}
</details>

<details>
  <summary><h3>Tulips</h3></summary>

  {{ 'tulip' | phenotypes() }}
</details>

<details>
  <summary><h3>Windflowers</h3></summary>

  {{ 'windflower' | phenotypes() }}
</details>
