<p>
These tables show the outcomes of all possible combinations of all seed
flowers.
</p>

<details>
  <summary><h3>Cosmos</h3></summary>

  {{ 'cosmo' | hybridize('red', 'red') }}
  {{ 'cosmo' | hybridize('red', 'yellow') }}
  {{ 'cosmo' | hybridize('red', 'white') }}
  {{ 'cosmo' | hybridize('yellow', 'yellow') }}
  {{ 'cosmo' | hybridize('yellow', 'white') }}
  {{ 'cosmo' | hybridize('white', 'white') }}
</details>

<details>
  <summary><h3>Hyacinths</h3></summary>

  {{ 'hyacinth' | hybridize('red', 'red') }}
  {{ 'hyacinth' | hybridize('red', 'yellow') }}
  {{ 'hyacinth' | hybridize('red', 'white') }}
  {{ 'hyacinth' | hybridize('yellow', 'yellow') }}
  {{ 'hyacinth' | hybridize('yellow', 'white') }}
  {{ 'hyacinth' | hybridize('white', 'white') }}
</details>

<details>
  <summary><h3>Lilies</h3></summary>

  {{ 'lily' | hybridize('red', 'red') }}
  {{ 'lily' | hybridize('red', 'yellow') }}
  {{ 'lily' | hybridize('red', 'white') }}
  {{ 'lily' | hybridize('yellow', 'yellow') }}
  {{ 'lily' | hybridize('yellow', 'white') }}
  {{ 'lily' | hybridize('white', 'white') }}
</details>

<details>
  <summary><h3>Mums</h3></summary>

  {{ 'mum' | hybridize('red', 'red') }}
  {{ 'mum' | hybridize('red', 'yellow') }}
  {{ 'mum' | hybridize('red', 'white') }}
  {{ 'mum' | hybridize('yellow', 'yellow') }}
  {{ 'mum' | hybridize('yellow', 'white') }}
  {{ 'mum' | hybridize('white', 'white') }}
</details>

<details>
  <summary><h3>Pansies</h3></summary>

  {{ 'pansy' | hybridize('red', 'red') }}
  {{ 'pansy' | hybridize('red', 'yellow') }}
  {{ 'pansy' | hybridize('red', 'white') }}
  {{ 'pansy' | hybridize('yellow', 'yellow') }}
  {{ 'pansy' | hybridize('yellow', 'white') }}
  {{ 'pansy' | hybridize('white', 'white') }}
</details>

<details>
  <summary><h3>Roses</h3></summary>

  {{ 'rose' | hybridize('red', 'red') }}
  {{ 'rose' | hybridize('red', 'yellow') }}
  {{ 'rose' | hybridize('red', 'white') }}
  {{ 'rose' | hybridize('yellow', 'yellow') }}
  {{ 'rose' | hybridize('yellow', 'white') }}
  {{ 'rose' | hybridize('white', 'white') }}
</details>

<details>
  <summary><h3>Tulips</h3></summary>

  {{ 'tulip' | hybridize('red', 'red') }}
  {{ 'tulip' | hybridize('red', 'yellow') }}
  {{ 'tulip' | hybridize('red', 'white') }}
  {{ 'tulip' | hybridize('yellow', 'yellow') }}
  {{ 'tulip' | hybridize('yellow', 'white') }}
  {{ 'tulip' | hybridize('white', 'white') }}
</details>

<details>
  <summary><h3>Windflowers</h3></summary>

  {{ 'windflower' | hybridize('red', 'red') }}
  {{ 'windflower' | hybridize('red', 'orange') }}
  {{ 'windflower' | hybridize('red', 'white') }}
  {{ 'windflower' | hybridize('orange', 'orange') }}
  {{ 'windflower' | hybridize('orange', 'white') }}
  {{ 'windflower' | hybridize('white', 'white') }}
</details>
