<p>
There are four hybrid hyacinths: purple, blue, pink, and orange. Orange is
always a side effect of purple, and blue and pink frequently are, as well. So
you might not need to follow any path other than purple to get all colors.
</p>

<details>
  <summary><h3>Purple Hyacinths</h3></summary>

  <p>
  Start with red and yellow to get orange and hybrid yellow, then breed those
  together to get purple. Recycle all orange offspring into the existing orange
  and yellows to accelerate the process. Do <b>not</b> recycle yellows, because
  some of them have unhelpful genotypes.
  </p>

  {{ 'hyacinth' | hybridize('red', 'yellow',
     orange='next-stage', yellow='next-stage') }}

  {{ 'hyacinth' | hybridize('110', '110',
     white='trash', yellow='trash', red='trash',
     orange='recycle',
     pink='keep', blue='keep', purple='keep') }}

  {{ 'hyacinth' | hybridize('110', '111',
     white='trash', yellow='trash', red='trash',
     orange='recycle',
     pink='keep', blue='keep', purple='keep') }}

  {{ 'hyacinth' | hybridize('111', '111',
     white='trash', yellow='trash', red='trash',
     orange='recycle',
     pink='keep', blue='keep', purple='keep') }}

  <p>
  Recycling oranges will accelerate the process by increasing the likelihood of
  purple hybrids from 6.25% to 12.5% or 25% (depending on the exact genes).
  If you run out of room, replace some of your yellows with these recycled
  oranges.
  </p>

  <details>
    <summary>Detailed outcomes for recycling oranges</summary>

    {{ 'hyacinth' | hybridize('110', '120',
       white='trash', yellow='trash', red='trash',
       orange='recycle',
       pink='keep', blue='keep', purple='keep') }}

    {{ 'hyacinth' | hybridize('111', '120',
       white='trash', yellow='trash', red='trash',
       orange='recycle',
       pink='keep', blue='keep', purple='keep') }}

    {{ 'hyacinth' | hybridize('120', '120',
       white='trash', yellow='trash', red='trash',
       orange='recycle',
       pink='keep', blue='keep', purple='keep') }}
  </details>

  <details>
    <summary>Purple hyacinth self-breeding</summary>

    <p>
    You can always breed purple hyacinths together to make more.  This is more
    space-efficient than cloning layouts.
    </p>

    {{ 'hyacinth' | hybridize('220', '220', purple='keep') }}
  </details>
</details>

<details>
  <summary><h3>Pink Hyacinths</h3></summary>

  <p>
  Pink hyacinths are easy: red &times; white = pink (50% of the time). But if
  you're also working toward purple hyacinths, you can skip this. You will very
  likely get pink hyacinths while working toward purple hyacinths.
  </p>

  {{ 'hyacinth' | hybridize('red', 'white',
     red='trash', white='trash',
     pink='keep') }}

  <details>
    <summary>Pink hyacinth self-breeding</summary>

    <p>
    Pink hyacinths bred with each other will make more pink hyacinths only
    <i>25%</i> of the time. Since the red-white breeding produces pink
    <i>50%</i> of the time, it is better either to continue breeding those or
    to rely on cloning layouts to create more pink hyacinths.
    </p>

    {{ 'hyacinth' | hybridize('101', '101',
       red='trash', white='trash', blue='trash',
       pink='keep') }}
  </details>
</details>

<details>
  <summary><h3>Orange Hyacinths</h3></summary>

  <p>
  Orange hyacinths are easy: red &times; yellow = orange (50% of the time). But
  if you're also working toward purple hyacinths, you can skip this. You will
  have to make orange hyacinths while working toward purple hyacinths.
  </p>

  {{ 'hyacinth' | hybridize('red', 'yellow',
     yellow='trash', orange='keep') }}

  <details>
    <summary>Orange hyacinth self-breeding</summary>

    <p>
    Orange hyacinths bred with each other will make more orange hyacinths only
    <i>37.5%</i> of the time. Since the red-yellow breeding produces orange
    <i>50%</i> of the time, it is better either to continue breeding those or
    to rely on cloning layouts to create more orange hyacinths.
    </p>

    {{ 'hyacinth' | hybridize('110', '110',
       white='trash', yellow='trash', red='trash', pink='trash',
       blue='trash', purple='trash',
       orange='keep') }}
  </details>
</details>

<details>
  <summary><h3>Blue Hyacinths</h3></summary>

  <p>
  Blue hyacinths are easy: white &times; white = blue (25% of the time). But if
  you're also working toward purple hyacinths, you can skip this. You will very
  likely get blue hyacinths while working toward purple hyacinths.
  </p>

  {{ 'hyacinth' | hybridize('white', 'white',
     white='trash', blue='keep') }}

  <details>
    <summary>Blue hyacinth self-breeding</summary>

    <p>
    These <i>particular</i> blue hyacinths can always breed together to make
    more. This is more space-efficient than cloning layouts. Other genotypes of
    blue may produce other results.
    </p>

    {{ 'hyacinth' | hybridize('002', '002', blue='keep') }}
  </details>
</details>
