<p>Goal: green mums (w/ pink &amp; purple as bonus)</p>

{{ 'mum' | hybridize('200', '020',
   yellow='next_stage') }}

{{ 'mum' | hybridize('110', '110',
   white='trash', yellow='trash', red='trash', purple='recycle',
   pink='keep', green='keep') }}

<p>
Recycling purples into the yellows will accelerate the process by increasing
the likelihood of green hybrids.  If you get a purple and your plot is full,
replace a yellow with a purple.
</p>

<details>
<summary>Detailed outcomes for recycling purples into the yellows</summary>

{{ 'mum' | hybridize('110', '120',
   yellow='trash', purple='recycle', green='keep') }}

{{ 'mum' | hybridize('110', '210',
   yellow='trash', red='trash', purple='recycle',
   pink='keep', green='keep') }}

{{ 'mum' | hybridize('120', '210',
   yellow='trash', purple='recycle', green='keep') }}

{{ 'mum' | hybridize('120', '120',
   yellow='trash', purple='recycle', green='keep') }}

{{ 'mum' | hybridize('210', '210',
   red='trash', purple='recycle', green='keep') }}
</details>
