<p>
There are three hybrid mums: green, pink, and purple. Pink and purple are
frequent side effects of pursuing green, so the green path is probably the only
one you need to follow if you are trying to breed all colors.
</p>

<details>
  <summary><h3>Green Mums</h3></summary>

  <p>
  Start with red and yellow to get a hybrid yellow, then combine hybrid yellows
  to get purple, pink, and green. Recycle purples into the hybrid yellows.
  </p>

  {{ 'mum' | hybridize('red', 'yellow',
     yellow='next-stage') }}

  {{ 'mum' | hybridize('110', '110',
     white='trash', yellow='trash', red='trash', purple='recycle',
     pink='keep', green='keep') }}

  <p>
  Recycling purples into the yellows will accelerate the process by increasing
  the likelihood of green hybrids from 6.25% to 12.5% (yellow &times; purple)
  or even 25% (purple &times; purple). So concentrate your purples to one side,
  and if you get a new purple, but your plot is full, replace a yellow with a
  purple.
  </p>

  <details>
    <summary>Detailed outcomes for recycling purples</summary>

    {{ 'mum' | hybridize('110', '120',
       yellow='trash', purple='recycle', green='keep') }}

    {{ 'mum' | hybridize('110', '210',
       yellow='trash', red='trash', purple='recycle',
       pink='keep', green='keep') }}

    {{ 'mum' | hybridize('120', '210',
       yellow='trash', purple='recycle', green='keep') }}

    {{ 'mum' | hybridize('120', '120',
       yellow='trash', purple='recycle', green='keep') }}

    {{ 'mum' | hybridize('210', '210',
       red='trash', purple='recycle', green='keep') }}
  </details>

  <details>
    <summary>Green mum self-breeding</summary>

    <p>
    You can always breed green mums together to make more. This is more
    space-efficient than cloning layouts.
    </p>

    {{ 'mum' | hybridize('220', '220', green='keep') }}
  </details>
</details>

<details>
  <summary><h3>Pink Mums</h3></summary>

  <p>
  Pink mums are easy: red &times; white = pink. But if you're also working
  toward green mums, you can skip this. You will very likely get pink mums
  while working toward green mums.
  </p>

  {{ 'mum' | hybridize('red', 'white', pink='keep') }}

  <details>
    <summary>Pink mum self-breeding</summary>

    <p>
    Pink mums bred with each other will make more pink mums only <i>half</i>
    the time. Since the red-white breeding <i>always</i> produces pink, it is
    better either to continue breeding those or to rely on cloning layouts to
    create more pink mums.
    </p>

    {{ 'mum' | hybridize('100', '100',
       red='trash', white='trash', pink='keep') }}
    {{ 'mum' | hybridize('100', '101',
       red='trash', white='trash', pink='keep') }}
    {{ 'mum' | hybridize('101', '101',
       red='trash', white='trash', purple='trash', pink='keep') }}
  </details>
</details>

<details>
  <summary><h3>Purple Mums</h3></summary>

  <p>
  Purple mums are easy: white &times; white = purple (25% of the time). But if
  you're also working toward green mums, you can skip this. You will very
  likely get purple mums while working toward green mums.
  </p>

  {{ 'mum' | hybridize('white', 'white', purple='keep') }}

  <details>
    <summary>Purple mum self-breeding</summary>

    <p>
    These <i>particular</i> purple mums can always breed together to make more.
    This is more space-efficient than cloning layouts. Other genotypes of
    purple (as found above in the green mum path) may produce other results.
    </p>

    {{ 'mum' | hybridize('002', '002', purple='keep') }}
  </details>
</details>
