<p>
This is an "Animal Crossing: New Horizons" flower breeding guide for nerds like
me. I had a lot of questions that weren't answered by other guides and
infographics. I was able to work out a lot of answers from other guides, but
needed some of those answers compiled into a readable format.

So, if you want to know:

<ul>
  <li>all the flower gene sequences
  <li>all the possible outcomes of a hybridization, instead of just one
  <li>every possible optimization in your flower breeding
</ul>

... then this is the guide for you.
</p>


<h3>Acknowledgements</h3>

First, let me acknowledge the wonderful guides that came before. I learned a
great deal from these, and they are all excellent resources that are worth your
time:

<ul>
  <li><a href="https://yuexr.github.io/acnh/garden.html">Yue's ACNH Garden Guides</a>
  <li><a href="https://aiterusawato.github.io/satogu/acnh/flowers/genotypes.html">Flower Genotypes Table by Aeter</a>
  <li><a href="https://gardenscience.ac/">Flower Breeding Simulator by AeonSake</a>
</ul>

Without the hard work of those authors, I would not have been able to write this
guide.


<h3>Usage</h3>

If you want to breed all the various hybrid colors of a certain flower, click
the tab for that flower to see breeding stages and notes.

If you aren't familiar with the best layouts for breeding and cloning, you'll
also want to refer to the <a href="#breeding-layouts">Breeding Layouts</a> tab,
which is based on Yue's guide with additional notes.

Finally, if you just want to browse, there is an appendix with
<a href="#first-gen-hybrids">All First Generation Hybrids</a> for all flowers.
