<p>
This is an "Animal Crossing: New Horizons" flower breeding guide for nerds like
me. I had a lot of questions that weren't answered by other guides and
infographics. I was able to work out a lot of answers from other guides, but
needed some of those answers compiled into a readable format.

So, if you want to know:

<ul>
  <li>all the flower gene sequences
  <li>all the possible outcomes of a breeding pair
  <li>every possible optimization in your flower breeding
</ul>

... then this is the guide for you.
</p>


<h3>Usage</h3>

<p>
If you don't know how flower genes work, read the
<a href="#flower-genes-primer">Flower Genes Primer</a> tab, which is based on
the genes section of Aeter's guide. The 3-digit and 4-digit numbers next to
flowers in the breeding tables here are gene sequences.
</p>

<p>
If you want to breed all the various hybrid colors of a certain flower, click
the tab for that flower to see breeding stages and notes.
</p>

<p>
If you aren't familiar with the best layouts for breeding and cloning, you'll
also want to refer to the <a href="#breeding-layouts">Breeding Layouts</a> tab,
which is based on Yue's guide with additional notes.
</p>

<p>
Finally, if you just want to browse, there is an appendix with
<a href="#first-gen-hybrids">All First Generation Hybrids</a> for all flowers.
</p>


<h3>Legend</h3>

These are the conventions we will follow and icons we will use in the breeding
tables.

<div class="green-table legend">
  <table>
    <tr>
      <td class="thing">{{'mum'|flower_icon('red', '100')}}</td>
      <td class="explanation">Flower icon, with tooltip showing its color</td>
    </tr>
    <tr>
      <td class="thing"><div class="genes">101</div></td>
      <td class="explanation">Numeric gene sequence for this flower</td>
    </tr>
    <tr>
      <td class="thing"><img class="seed-example" title="Seed Bag"></td>
      <td class="explanation">Seed bag icon, seen on flowers grown from seed</td>
    </tr>
    <tr>
      <td class="thing outcome"><img src="icons/outcomes/trash.png" title="Trash"></td>
      <td class="explanation">Throw away this offspring; it is not useful</td>
    </tr>
    <tr>
      <td class="thing outcome"><img src="icons/outcomes/next-stage.png" title="Next Stage"></td>
      <td class="explanation">Use this offspring in the next stage</td>
    </tr>
    <tr>
      <td class="thing outcome"><img src="icons/outcomes/recycle.png" title="Recycle"></td>
      <td class="explanation">Recycle this offspring into this stage; notes will elaborate</td>
    </tr>
    <tr>
      <td class="thing outcome"><img src="icons/outcomes/keep.png" title="Keep"></td>
      <td class="explanation">Keep this; you did it!</td>
    </tr>
  </table>
</div>


<h3>Acknowledgements</h3>

<p>
First, let me acknowledge the wonderful guides that came before. I learned a
great deal from these, and they are all excellent resources that are worth your
time:

<ul>
  <li><a href="https://yuexr.github.io/acnh/garden.html">Yue's ACNH Garden Guides</a>
  <li><a href="https://aiterusawato.github.io/satogu/acnh/flowers/genotypes.html">Flower Genotypes Table by Aeter</a>
  <li><a href="https://gardenscience.ac/">Flower Breeding Simulator by AeonSake</a>
  <li><a href="https://www.reddit.com/r/AnimalCrossing/comments/gcykl0/i_made_a_12x12_layout_to_breed_all_the_flowers_in/">All-Flower Breeding Guide by Giga-Roboid on Reddit</a>
</ul>

Without the hard work of those authors, I would not have been able to write this
guide.
</p>
