<p>
This is an "Animal Crossing: New Horizons" flower breeding guide for nerds like
me. I had a lot of questions that weren't answered by other guides and
infographics. I was able to work out a lot of answers from other guides, but
needed some of those answers compiled into a readable format.

So, if you want to know:

<ul>
  <li>all the flower gene sequences
  <li>all the possible outcomes of a hybridization, instead of just one
  <li>every possible optimization in your flower breeding
</ul>

... then this is the guide for you.
</p>


<h3>Flower Gene Primer</h3>

Each type of flower has three genes (red, yellow, and white). Each individual
has two copies of each gene, and each copy is either dominant or recessive. For
example, you might see a plant with two dominant red genes refered to as
<tt>RR</tt>, or two recessive red genes as <tt>rr</tt>, or one of each as
<tt>Rr</tt>.

In this guide, we use a numerical representation instead. If the plant has two
dominant copies (<tt>RR</tt> in the examples above), we use the number
<tt>2</tt>. One dominant copy (<tt>Rr</tt>) is 1. And no dominant copies (two
recessive copies, or <tt>rr</tt>) is 0.

We list these gene sequences in the order of red, yellow, white. So if you see
<tt>201</tt>, that plant has two dominant red genes, zero dominant yellow
genes, and one dominant white gene.

Sometimes the phenotypes (the visual expression) of a certain genotype (exact
gene sequence) may surprise you. For example, two dominant white genes
(<tt>WW</tt>) tends to make roses purple, while it tends to make some other
flowers blue. And the various color genes also combine in different ways from
flower to flower. (For a full table of genotypes to phenotypes, see
<a href="https://aiterusawato.github.io/satogu/acnh/flowers/genotypes.html">Flower Genotypes Table by Aeter</a>.)

Roses are an exception in this system. They have four genes instead of three.
Because of this, breeding a blue rose (1 specific genotype out of 81) takes a
very long time.

Finally, you should know that when you plant seeds, you get a very specific,
known gene sequence for those plants. Seed plants are always the starting
points for the breeding guides so that we can control the genes and know what
we've planted.


<h3>Usage</h3>

If you want to breed all the various hybrid colors of a certain flower, click
the tab for that flower to see breeding stages and notes.

If you aren't familiar with the best layouts for breeding and cloning, you'll
also want to refer to the <a href="#breeding-layouts">Breeding Layouts</a> tab,
which is based on Yue's guide with additional notes.

Finally, if you just want to browse, there is an appendix with
<a href="#first-gen-hybrids">All First Generation Hybrids</a> for all flowers.


<h3>Acknowledgements</h3>

First, let me acknowledge the wonderful guides that came before. I learned a
great deal from these, and they are all excellent resources that are worth your
time:

<ul>
  <li><a href="https://yuexr.github.io/acnh/garden.html">Yue's ACNH Garden Guides</a>
  <li><a href="https://aiterusawato.github.io/satogu/acnh/flowers/genotypes.html">Flower Genotypes Table by Aeter</a>
  <li><a href="https://gardenscience.ac/">Flower Breeding Simulator by AeonSake</a>
</ul>

Without the hard work of those authors, I would not have been able to write this
guide.
