<p class="prose">
There are three hybrid pansies: blue, orange, and purple. Blue pansies
are a side effect of pursuing purple.
</p>

<details>
  <summary><h3>Purple Pansies</h3></summary>

  <p class="prose">
  Start with white pansy seeds to get blue, then mix those with red seeds
  to get hybrid reds. The hybrid reds then make purples.
  </p>

  {{ 'pansy' | hybridize('white', 'white',
     layout='a',
     white='trash', blue='next-stage') }}

  {{ 'pansy' | hybridize('red', '002',
     layout='c',
     red='next-stage') }}

  {{ 'pansy' | hybridize('101', '101',
     layout='a',
     red='trash', blue='trash', white='trash',
     purple='keep') }}

  <details>
    <summary>Purple pansy self-breeding</summary>

    <p class="prose">
    You can always breed purple pansies together to make more. This is more
    space-efficient than cloning layouts.
    </p>

    {{ 'pansy' | hybridize('202', '202',
       layout='a',
       purple='keep') }}
  </details>
</details>

<details>
  <summary><h3>Orange Pansies</h3></summary>

  <p class="prose">
  Orange pansies are easy: red &times; yellow = orange.
  </p>

  {{ 'pansy' | hybridize('red', 'yellow',
     layout='b',
     orange='keep') }}

  <details>
    <summary>Orange pansy self-breeding</summary>

    <p class="prose">
    Orange pansies bred with each other will make more orange pansies only
    about <i>30%</i> of the time. Since the red-yellow breeding <i>always</i>
    produces orange, it is better either to continue breeding those or to rely
    on cloning layouts to create more orange pansies.
    </p>

    {{ 'pansy' | hybridize('110', '110',
       layout='a',
       orange='keep') }}
  </details>
</details>

<details>
  <summary><h3>Blue Pansies</h3></summary>

  <p class="prose">
  Blue pansies are easy: white &times; white = blue (25% of the time). But if
  you're also working toward purple pansies, you can skip this. You will always
  get blue pansies on the way to purple.
  </p>

  {{ 'pansy' | hybridize('white', 'white',
     layout='a',
     white='trash', blue='keep') }}

  <details>
    <summary>Blue pansy self-breeding</summary>

    <p class="prose">
    These <i>particular</i> blue pansies can always breed together to make
    more. This is more space-efficient than cloning layouts. Other genotypes of
    blue may produce other results.
    </p>

    {{ 'pansy' | hybridize('002', '002',
       layout='a',
       blue='keep') }}
  </details>
</details>
