<p class="prose">
There are more rose colors than any other flower. There are also more complex
genes for roses than for any other flower. Blue roses are the most rare.
</p>

<p class="prose">
There are five hybrid roses: blue, purple, pink, orange, and black.
Purple and orange roses are a side effect of pursuing blue, and pink roses are
a frequent side effect of pursuing black. So the only unique paths you need to
follow are blue and black.
</p>

<p class="prose">
Finally, there is a gold rose, which is outside the normal gene system. See the
gold rose section for details.
</p>

<details>
  <summary><h3>Blue Roses</h3></summary>

  <p class="prose">
  Blue roses are by far the most rare phenotype (1 genotype out of 81), so the
  breeding paths to blue roses are long, numerous, and varied. If you want to
  read an excellent and detailed write-up on blue roses, the various methods
  recommended by various people, and the trade-offs of these methods, refer to
  <a href="https://yuexr.github.io/acnh/bluerose.html">Yue's Blue Rose Guide</a>.
  </p>

  <p class="prose">
  This guide uses the <i>Folklore</i> method, because although it has more
  stages than some other methods, the final stage has the highest possible
  chance of a blue rose (25%). This allows you to keep breeding that final plot
  to produce more blue roses instead of relying on cloning to scale up blue
  rose production.
  </p>

  <p class="prose">
  This method involves six stages, each in their own zippy for clarity.
  </p>

  <details>
    <summary><h4>Stage 1</h4></summary>

    <p class="prose">
    In this stage, you need to make special hybrid white and purple roses for
    stage 2, and orange roses for stage 4. These three hybrids can be grown in
    parallel from seed roses. Save the oranges somewhere where they will not
    breed yet.
    </p>

    {{ 'rose' | hybridize('white', 'yellow',
       yellow='trash', white='next-stage') }}

    {{ 'rose' | hybridize('white', 'white',
       white='trash', purple='next-stage') }}

    {{ 'rose' | hybridize('red', 'yellow',
       yellow='trash', orange='future-stage') }}
  </details>

  <details>
    <summary><h4>Stage 2</h4></summary>

    <p class="prose">
    Next you breed stage 1's hybrid whites and purples together to make hybrid
    purples with some different genes. In this stage, there are two genotype
    outputs, so in stage 3 we test these offspring to determine which genes
    they have.
    </p>

    {{ 'rose' | hybridize('0110', '0020',
       white='trash', purple='next-stage') }}
  </details>

  <details>
    <summary><h4>Stage 3 (Testing)</h4></summary>

    <p class="prose">
    Here we need to test our purple roses from stage 2. Half of them are
    <tt>0020</tt>, which won't help, and half of them are <tt>0120</tt>, which
    we want to use in the next stage. We test them through breeding to find out
    which genes they have. This requires a specific testing layout so that you
    always know which output came from which pair.
    </p>

    <p class="prose">
    To differentiate, we breed the purples with seed yellows. If we get a
    yellow offspring, the purple was <tt>0120</tt>, and it moves to the next
    stage. If it breeds white more than 4 times, we assume it was <tt>0020</tt>
    and throw the purple away.
    </p>

    {{ 'rose' | test(['0020', '0120'], 'yellow', 5,
       white='trash', yellow='pass-purple') }}
  </details>

  <details>
    <summary><h4>Stage 4</h4></summary>

    <p class="prose">
    Now we take the second-generation purple hybrids that passed testing in
    stage 3, and we breed them with the orange hybrids from stage 1. The
    offspring are orange roses with different genes, which move on to stage 5.
    </p>

    {{ 'rose' | hybridize('0120', '1100',
       white='trash', red='trash', yellow='trash',
       orange='next-stage') }}
  </details>

  <details>
    <summary><h4>Stage 5</h4></summary>

    <p class="prose">
    Here we take the orange hybrids from the previous stage and breed them with
    each other to get hybrid red roses. Once you get a few, you can start
    cloning them before you begin stage 6, to scale up stage 6 more quickly.
    </p>

    {{ 'rose' | hybridize('1210', '1210',
       white='trash', orange='trash', yellow='trash',
       blue='keep', red='next-stage') }}
  </details>

  <details>
    <summary><h4>Stage 6</h4></summary>

    <p class="prose">
    These hybrid reds have the best chance to produce blue. Breed them with
    each other to get blue roses. Any red offspring are genetically identical
    to the parents, so they can be recycled to grow the plot.
    </p>

    {{ 'rose' | hybridize('1220', '1220',
       white='trash', red='recycle', blue='keep') }}
  </details>

  <details>
    <summary>Blue rose self-breeding</summary>

    <p class="prose">
    You can always breed blue roses together to make more. This is more
    space-efficient than cloning layouts.
    </p>

    {{ 'rose' | hybridize('2220', '2220', blue='keep') }}
  </details>
</details>

<details>
  <summary><h3>Purple Roses</h3></summary>

  <p class="prose">
  Purple roses are easy: white &times; white = purple (25% of the time). But if
  you're also working toward blue roses, you can skip this. You will produce
  purple roses while working toward blue roses.
  </p>

  {{ 'rose' | hybridize('white', 'white',
     white='trash', purple='keep') }}

  <details>
    <summary>Purple rose self-breeding</summary>

    <p class="prose">
    These <i>particular</i> purple roses can always breed together to make
    more. This is more space-efficient than cloning layouts. Other genotypes of
    purple may produce other results.
    </p>

    {{ 'rose' | hybridize('2220', '2220', blue='keep') }}
  </details>
</details>

<details>
  <summary><h3>Pink Roses</h3></summary>

  <p class="prose">
  Pink roses are easy: white &times; red = pink (50% of the time). You are also
  likely to run into pink roses while working toward black roses.
  </p>

  {{ 'rose' | hybridize('white', 'red',
     red='trash', pink='keep') }}

  <details>
    <summary>Pink rose self-breeding</summary>

    <p class="prose">
    Pink roses bred with each other will make more pink roses only
    about <i>30%</i> of the time. Since the red-white breeding produces pink
    <i>50%</i> of the time, it is better either to continue breeding those or
    to rely on cloning layouts to create more pink roses.
    </p>

    {{ 'rose' | hybridize('1001', '1001') }}
    {{ 'rose' | hybridize('1001', '1011') }}
    {{ 'rose' | hybridize('1011', '1011') }}
  </details>
</details>

<details>
  <summary><h3>Orange Roses</h3></summary>

  <p class="prose">
  Orange roses are easy: red &times; yellow = orange (50% of the time). But if
  you're also working toward blue roses, you can skip this. You will produce
  orange roses while working toward blue roses.
  </p>

  {{ 'rose' | hybridize('red', 'yellow',
     yellow='trash', orange='keep') }}

  <details>
    <summary>Orange rose self-breeding</summary>

    <p class="prose">
    These <i>particular</i> orange roses bred with each other will make more
    orange roses about <i>56%</i> of the time. Since the red-yellow breeding
    produces orange <i>50%</i> of the time, self-breeding can be more
    space-efficient than cloning layouts.
    </p>

    <p class="prose">
    Furthermore, recycling the orange offspring of these <i>particular</i>
    oranges can accelerate the orange self-breeding process.  The majority of
    orange offspring have genes that will further increase the odds of more
    orange offspring.
    </p>

    {{ 'rose' | hybridize('1100', '1100',
       white='trash', yellow='trash', red='trash', black='trash',
       orange='recycle') }}

    <details class="hide-in-quick-ref">
      <summary>Detailed outcomes for recycling oranges</summary>

      {{ 'rose' | hybridize('1100', '1200') }}
      {{ 'rose' | hybridize('1100', '2100') }}
      {{ 'rose' | hybridize('1100', '2200') }}

      {{ 'rose' | hybridize('1200', '1200') }}
      {{ 'rose' | hybridize('1200', '2100') }}
      {{ 'rose' | hybridize('1200', '2200') }}

      {{ 'rose' | hybridize('2100', '2100') }}
      {{ 'rose' | hybridize('2100', '2200') }}

      {{ 'rose' | hybridize('2200', '2200') }}
    </details>
  </details>
</details>

<details>
  <summary><h3>Black Roses</h3></summary>

  <p class="prose">
  Black roses are easy: red &times; red = black (25% of the time). You are also
  likely to produce pink roses (25% of the time), so you can work on both black
  and pink at once.
  </p>

  {{ 'rose' | hybridize('red', 'red',
     red='trash', black='keep', pink='keep') }}

  <details>
    <summary>Black rose self-breeding</summary>

    <p class="prose">
    These <i>particular</i> black roses can always breed together to make
    more. This is more space-efficient than cloning layouts. Other genotypes of
    black may produce other results.
    </p>

    {{ 'rose' | hybridize('2000', '2000') }}
  </details>
</details>

<details>
  <summary><h3>Gold Roses</h3></summary>

  <p class="prose">
  Gold roses are special. They are clones of black roses that have been watered
  with a golden watering can. A golden watering can requires a 5-star island
  evaluation, after which you can get the recipe from Isabelle in Resident
  Services.
  </p>

  <p class="prose">
  Gold roses are not a particular genotype, but black roses born from other
  black roses with a certain flag set by the gold watering can. The details of
  producing gold roses is best captured by
  <a href="https://yuexr.github.io/acnh/garden.html#goldrose">Yue's Gold Rose Guide</a>.
  </p>
</details>
