<p>
There are four hybrid tulips: purple, black, pink, and orange. Orange is a side
effect of purple, and black and pink are frequently produced while working on
purple, as well. So you might not need to follow any path other than purple to
get all colors.
</p>

<details>
  <summary><h3>Purple Tulips</h3></summary>

  <p>
  Start with red and yellow to get orange and hybrid yellow, then breed those
  together to get purple. Recycle all orange offspring into the existing orange
  and yellows to accelerate the process. Do <b>not</b> recycle yellows, because
  some of them have unhelpful genotypes.
  </p>

  {{ 'tulip' | hybridize('red', 'yellow',
     orange='next-stage', yellow='next-stage') }}

  {{ 'tulip' | hybridize('110', '110',
     white='trash', yellow='trash', red='trash',
     orange='recycle',
     pink='keep', black='keep', purple='keep') }}

  {{ 'tulip' | hybridize('110', '111',
     white='trash', yellow='trash', red='trash',
     orange='recycle',
     pink='keep', black='keep', purple='keep') }}

  {{ 'tulip' | hybridize('111', '111',
     white='trash', yellow='trash', red='trash',
     orange='recycle',
     pink='keep', black='keep', purple='keep') }}

  <p>
  Recycling oranges will accelerate the process by increasing the likelihood of
  purple hybrids from 6.25% to 12.5% or 25% (depending on the exact genes).
  If you run out of room, replace some of your yellows with these recycled
  oranges.
  </p>

  <details>
    <summary>Detailed outcomes for recycling oranges</summary>

    {{ 'tulip' | hybridize('110', '120',
       white='trash', yellow='trash', red='trash',
       orange='recycle',
       pink='keep', black='keep', purple='keep') }}

    {{ 'tulip' | hybridize('111', '120',
       white='trash', yellow='trash', red='trash',
       orange='recycle',
       pink='keep', black='keep', purple='keep') }}

    {{ 'tulip' | hybridize('120', '120',
       white='trash', yellow='trash', red='trash',
       orange='recycle',
       pink='keep', black='keep', purple='keep') }}
  </details>

  <details>
    <summary>Purple tulip self-breeding</summary>

    <p>
    You can always breed purple tulips together to make more.  This is more
    space-efficient than cloning layouts.
    </p>

    {{ 'tulip' | hybridize('220', '220', purple='keep') }}
  </details>
</details>

<details>
  <summary><h3>Pink Tulips</h3></summary>

  <p>
  Pink tulips are easy: red &times; white = pink (75% of the time). But if
  you're also working toward purple tulips, you can skip this. You will very
  likely get pink tulips while working toward purple tulips.
  </p>

  {{ 'tulip' | hybridize('red', 'white',
     red='trash', white='trash',
     pink='keep') }}

  <details>
    <summary>Pink tulip self-breeding</summary>

    <p>
    Pink tulips bred with each other will make more pink tulips only
    <i>37.5%-50%</i> of the time. Since the red-white breeding produces pink
    <i>75%</i> of the time, it is better either to continue breeding those or
    to rely on cloning layouts to create more pink tulips.
    </p>

    {{ 'tulip' | hybridize('100', '100',
       red='trash', white='trash', black='trash',
       pink='keep') }}

    {{ 'tulip' | hybridize('100', '101',
       red='trash', white='trash', black='trash',
       pink='keep') }}

    {{ 'tulip' | hybridize('101', '101',
       red='trash', white='trash', black='trash',
       pink='keep') }}
  </details>
</details>

<details>
  <summary><h3>Orange Tulips</h3></summary>

  <p>
  Orange tulips are easy: red &times; yellow = orange. But if you're also
  working toward purple tulips, you can skip this. You will have to make
  orange tulips while working toward purple tulips.
  </p>

  {{ 'tulip' | hybridize('red', 'yellow',
     yellow='trash', orange='keep') }}

  <details>
    <summary>Orange tulip self-breeding</summary>

    <p>
    Orange tulips bred with each other will make more orange tulips only
    <i>37.5%</i> of the time. Since the red-yellow breeding produces orange
    <i>50%</i> of the time, it is better either to continue breeding those or
    to rely on cloning layouts to create more orange tulips.
    </p>

    {{ 'tulip' | hybridize('110', '110',
       white='trash', yellow='trash', red='trash', pink='trash',
       black='trash', purple='trash',
       orange='keep') }}
  </details>
</details>

<details>
  <summary><h3>Black Tulips</h3></summary>

  <p>
  Black tulips are easy: red &times; red = black (25% of the time). But if
  you're also working toward purple tulips, you can skip this. You will very
  likely get black tulips while working toward purple tulips.
  </p>

  {{ 'tulip' | hybridize('red', 'red',
     red='trash', black='keep') }}

  <details>
    <summary>Black tulip self-breeding</summary>

    <p>
    These <i>particular</i> black tulips can always breed together to make
    more. This is more space-efficient than cloning layouts. Other genotypes of
    black may produce other results.
    </p>

    {{ 'tulip' | hybridize('200', '200', black='keep') }}
  </details>
</details>
