<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <title>Joey's ACNH Flower Guide</title>
    <style>
{{ 'styles.less' | compile_less }}
    </style>
    <script>
{{ 'ui.js' | insert_source }}
    </script>
  </head>
  <body>

    <header>
      <h1>Joey's ACNH Flower Guide For Nerds</h1>

      <div id="quick-ref-container">
        <span class="label">Quick ref mode:</span>

        <input type="checkbox"
               id="quick-ref"
               class="toggle">

        <label for="quick-ref"
               class="on-off">
          <span>ON</span>
          <span>OFF</span>
        </div>
      </div>
    </header>

    <div id="tabs">
      {%
        for tab, label in {
          'overview': 'Overview',
          'genes-primer': 'Flower Genes Primer',
          'cosmos': 'Cosmos',
          'hyacinths': 'Hyacinths',
          'lilies': 'Lilies',
          'mums': 'Mums',
          'pansies': 'Pansies',
          'roses': 'Roses',
          'tulips': 'Tulips',
          'windflowers': 'Windflowers',
          'breeding-layouts': 'Appendix: Breeding Layouts',
          'first-gen-hybrids': 'Appendix: All First Generation Hybrids',
          'all-phenotypes': 'Appendix: All Phenotypes and their Genes',
        }.items()
      %}
      <input class="radiotab" name="tabs" type="radio"
             id="tab-{{tab}}">
      <label class="label" for="tab-{{tab}}"><a href="#{{tab}}">{{tab|title}}</a></label>

      <div class="tab-panel" id="panel-{{tab}}">
        <h2>{{label}}</h2>
        <div class="content">
          {{tab|load_tab_content}}
        </div>
      </div>
      {% endfor %}
    </div>
    <div id="panels"></div>
  </body>
</html>
