<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <title>Joey's ACNH Flower Guide</title>
    <link rel="stylesheet/less" type="text/css" href="styles/styles.less" />
    <script src="https://cdn.jsdelivr.net/npm/less"></script>
  </head>
  <body>

    <header>
      <h1>Joey's ACNH Flower Guide For Nerds</h1>

      <div id="quick-ref-container">
        <span class="label">Quick ref mode:</span>

        <input type="checkbox"
               id="quick-ref"
               class="toggle">

        <label for="quick-ref"
               class="on-off">
          <span>ON</span>
          <span>OFF</span>
        </div>
      </div>
    </header>

    <div id="tabs">
      {%
        for tab, label in {
          'overview': 'Overview',
          'genes-primer': 'Flower Genes Primer',
          'cosmos': 'Cosmos',
          'hyacinths': 'Hyacinths',
          'lilies': 'Lilies',
          'mums': 'Mums',
          'pansies': 'Pansies',
          'roses': 'Roses',
          'tulips': 'Tulips',
          'windflowers': 'Windflowers',
          'breeding-layouts': 'Appendix: Breeding Layouts',
          'first-gen-hybrids': 'Appendix: All First Generation Hybrids',
          'all-phenotypes': 'Appendix: All Phenotypes and their Genes',
        }.items()
      %}
      <input class="radiotab" name="tabs" type="radio"
             id="tab-{{tab}}">
      <label class="label" for="tab-{{tab}}"><a href="#{{tab}}">{{tab|title}}</a></label>

      <div class="tab-panel" id="panel-{{tab}}">
        <h2>{{label}}</h2>
        <div class="content">
          {{tab|load_tab_content}}
        </div>
      </div>
      {% endfor %}
    </div>
    <div id="panels"></div>

    <script>
      // When a tab is selected, put the tab name in the URL hash.
      const inputs = Array.from(
          document.getElementById('tabs').querySelectorAll('input'));
      for (const input of inputs) {
        const tabId = input.id.replace('tab-', '');
        input.addEventListener('change', () => {
          location.hash = tabId;
        });
        // Find the associated panel.
        input.tabPanel = document.getElementById('panel-' + tabId);
        // Move it to the panel element so it flows correctly as separate from
        // the tabs.  It is generated as part of the tabs element for
        // convenience in the templating system.
        document.getElementById('panels').appendChild(input.tabPanel);
      }

      // When the hash changes, pick the matching tab, or fall back to the
      // first one.
      function pickTab() {
        for (const input of inputs) {
          input.tabPanel.classList.remove('shown');
        }

        const targetId = 'tab-' + location.hash.substr(1);  // drop #
        const chosenInput =
            inputs.find(input => input.id == targetId) || inputs[0];
        chosenInput.checked = true;
        chosenInput.tabPanel.classList.add('shown');
      }

      const quickRef = document.getElementById('quick-ref');
      function setQuickRef() {
        document.body.classList.toggle('quick-ref', quickRef.checked);
        localStorage.setItem('acnh-flower-quick-ref', quickRef.checked);
      }
      quickRef.addEventListener('change', setQuickRef);
      // localStorage stores a string, so compare to that.
      quickRef.checked =
          (localStorage.getItem('acnh-flower-quick-ref', false) == 'true')
      setQuickRef();

      window.addEventListener('hashchange', pickTab);
      pickTab();
    </script>
  </body>
</html>
