/* https://www.reddit.com/r/AnimalCrossing/comments/gmz7u2/ever_wondered_what_font_they_use_in_new_horizons/ */
@font-face {
  font-family: 'ACNH';
  src:  url('FOT-RodinBokutoh Pro M.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'ACNH';
  src:  url('FOT-RodinBokutoh Pro EB.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

body {
  background: white;
  color: black;
  font-family: sans-serif;
  font-family: 'ACNH';

  max-width: 80em;
  margin: auto;
  padding: 2em;

  /* Always show the scroll bar to avoid horizontal shifts when zippies are
   * opened. */
  overflow-y: scroll;
}

h1 {
  text-align: center;
}

a, a:visited {
  color: darkblue;
}

details > summary {
  cursor: pointer;
}

/* A heading inside a zippy description should be inline with the marker. */
details > summary > * {
  display: inline;
}

/* A nested zippy should be indented. */
details details {
  padding: 0 2em;
}

tt {
  font-family: 'ACNH';
  background-color: lightgray;
  display: inline-block;
  padding: 0 0.15em;
}


#tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#tabs .radiotab {
  display: none;
}

#tabs .label {
  background: lightgray;
  cursor: pointer;
  display: inline-block;
  padding: 1em;
  border: solid 1px black;
  font-weight: bold;
}

#tabs .label:active {
  /* FIXME: fix keyboard navigation and styles */
}

#tabs .panel {
  display: none;
  width: 100%;
  /* Don't have prose spread too widely across the page. */
  max-width: 50em;
}

#tabs input:checked + .label {
  background: white;
}

#tabs input:checked + .label + .panel {
  display: block;
  order: 99;
}


table.legend, table.hybrid {
  border: solid 1em green;
  border-radius: 1em;
  margin: auto;
  margin-bottom: 1em;
}

.flower img {
  width: 4em;
  height: 4em;
}

table.hybrid-results td.flower img {
  width: 2em;
  height: 2em;
}

div.genes {
  border: solid 0.2em green;
  border-radius: 1em;
  text-align: center;
  font-weight: bold;
}

table.hybrid td.symbol {
  font-size: 300%;
}

table.hybrid div.probability {
  font-size: 75%;
}

table.hybrid-results {
  border-collapse: collapse;
}

table.hybrid-results tr.possibility {
  border: solid 0.2em green;
}

.outcome img {
  width: 3em;
  height: 3em;
}

div.icon {
  position: relative;
}

div.icon img.overlay {
  width: 1.5em;
  height: 1.5em;

  position: absolute;
  bottom: 0.5em;
  right: 0.5em;

  visibility: hidden;
}

table.hybrid div.icon img.overlay.seed {
  visibility: visible;
  content: url(../icons/seed-bag.png);
  /* Let mouseover for tooltip fall through to the flower image. */
  pointer-events: none;
}

table.hybrid-results td.flower {
  width: 4em;
  text-align: center;
}

table.hybrid-results td.genes {
  width: 4em;
  text-align: center;
}

table.hybrid-results td.outcome {
  width: 4em;
  text-align: center;
}


img.seed-example {
  width: 2em;
  height: 2em;
  vertical-align: top;
  content: url(../icons/seed-bag.png);
}

table.legend td {
  height: 4em;
}

table.legend td:nth-child(1) {
  text-align: center;
  padding: 0 1em;
}

table.legend td:nth-child(2) {
  padding: 0 1em;
}


@media (prefers-color-scheme: dark) {
  body {
    background: black;
    color: white;
  }

  a, a:visited {
    color: lightblue;
  }

  #tabs .label {
    background: dimgray;
    border: solid 1px white;
  }

  #tabs input:checked + .label {
    background: darkgray;
  }

  .outcome img {
    filter: invert(1);
  }

  tt {
    background-color: dimgray;
  }
}

@media (max-width: 480px) {
  /* table resets body's font-size */
  body, table {
    font-size: 3.2vw;
  }
}
