/* https://www.reddit.com/r/AnimalCrossing/comments/gmz7u2/ever_wondered_what_font_they_use_in_new_horizons/ */
@font-face {
  font-family: 'ACNH';
  src:  url('FOT-RodinBokutoh Pro EB.otf') format('opentype');
}

body {
  background: white;
  color: black;
  font-family: sans-serif;
  font-family: 'ACNH';
}

table.hybrid {
  border: solid 1em green;
  border-radius: 1em;
  margin-bottom: 1em;
}

table.hybrid td.flower img {
  width: 4em;
  height: 4em;
}

table.hybrid-results td.flower img {
  width: 2em;
  height: 2em;
}

table.hybrid div.genes {
  border: solid 0.2em green;
  border-radius: 1em;
  text-align: center;
  font-weight: bold;
}

table.hybrid td.symbol {
  font-size: 300%;
}

table.hybrid div.probability {
  font-size: 75%;
}

table.hybrid-results {
  border-collapse: collapse;
}

table.hybrid-results tr.possibility {
  border: solid 0.2em green;
}

table.hybrid-results td.outcome img {
  width: 3em;
  height: 3em;
}

table.hybrid div.icon {
  position: relative;
}

table.hybrid div.icon img.overlay {  
  width: 1.5em;
  height: 1.5em;

  position: absolute;
  bottom: 0.5em;
  right: 0.5em;

  visibility: hidden;
}

table.hybrid div.icon img.overlay.seed {
  visibility: visible;
  content: url(../icons/seed-bag.png);
}

table.hybrid-results td.flower {
  width: 4em;
  text-align: center;
}

table.hybrid-results td.genes {
  width: 4em;
  text-align: center;
}

table.hybrid-results td.outcome {
  width: 4em;
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  body {
    background: black;
    color: white;
  }

  table.hybrid-results td.outcome img {
    filter: invert(1);
  }
}
